@model Centrics.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<h2>Change Password</h2>

<div class="form-group">
    @Html.LabelFor(m => m.CurrentPassword, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.CurrentPassword, new { @class = "form-control", @type = "password" })
    </div>
</div>