
@{
    ViewData["Title"] = "Index";
}

<h2>Service Report</h2>

@Html.ActionLink("View Report", "ViewReports", "ServiceReport") <br/>
@Html.ActionLink("Add Report", "AddNewReport", "ServiceReport")
