
@{
    ViewData["Title"] = "ViewReports";
}

<h2>View Service Reports</h2>

<p> arrange report to view</p>
<p> add in the values of the report?</p>
<p> export to pdf?</p>

<table>
    <thead>Pending</thead>
    <tr>
        <td></td>
    </tr>
</table>

<table>
    <thead>Confirmed</thead>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>