
@{
    ViewData["Title"] = "ViewReports";
}

<h2>View Service Reports</h2>

<p> arrange report to view</p>
<p> add in the values of the report?</p>
<p> export to pdf?</p>

<table>
    <thead>Pending</thead>
    <tr>
        <td>Serial Number:</td>
        <td>Client Company:</td>
        <td>Client Address:</td>
        <td>Description: </td>
        <td>Job Status: </td>
    </tr>
    @foreach( var SR in ViewData["Pending"] as List<ServiceReport>)
    {
        <tr>
            <td>SR.SerialNumber</td>
            <td>SR.ClientCompanyName</td>
            <td>SR.ClientAddress</td>
            <td>SR.Description</td>
            <td>SR.JobStatus</td>
        </tr>
    }
</table>

<table>
    <thead>Confirmed</thead>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>