
@{
    ViewData["Title"] = "Index";
}

<h2>Contracts</h2>

@Html.ActionLink("Add Contract", "AddContract", "Contract") <br />
@Html.ActionLink("View Contracts", "ViewContract", "Contract")

