
@{
    ViewData["Title"] = "ViewContract";
}

<h2>ViewContract</h2>
<table>
    <tablehead>Exisiting Contracts</tablehead>
    <tr>
        <td>Serial No.</td>
    </tr>
    
</table>

<h2>Expired Contract</h2>